@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$column-gutter:rem-calc(30px);

/**
*   Tag styles
*/
ul{list-style:none; margin-left:0;}
li{font-size:rem-calc(14px);}
h3{  font-size:rem-calc(20px); font-weight:bold; color:$primary-color; }
a{
  @include transition(color, 0.4s);
  color:inherit;
}

#background{position:fixed; top:0; left:0; z-index:0;  }

/**
*   Global classes
*/
.no-padding{padding:0 !important;}
.no-padding-top{padding-top:0 !important;}
.relative{position:relative !important;}

.circle-icon{
  background:$primary-color; display: block; width:50px; height:50px; text-align:center; position:absolute; top:0; left:0;
  line-height:50px; color:get-color($primary-color); font-size:1rem; border-radius:100%; float:left;
}

nav{
  position:relative; z-index:99;
  a{
    padding-top:$column-gutter/2; padding-bottom:$column-gutter/2;
  }
  .fa{display:block; font-size:2rem;}
}

footer{
  padding-top:$column-gutter/2; border-top:dashed #ccc 1px; color:#b4b4b4;
}

/**
*   Foundation overrides
*/
.progress-meter-text{font-size:0.65rem; left:3px; transform: translate(0%, -50%);}



.site{ position:relative; z-index:1; padding:1.8rem 0;}
.sidebar{
  h1{
    font-weight:bold; font-size:1.5rem; color:$primary-color; padding-top:$column-gutter/2; text-align:center;
    span{display:block; font-size:0.75em;}
  }
}
.container{
  @include box-shadow(0,5px, 5px, rgba(0,0,0,0.15));
  background:rgba(255,255,255,0.95); padding-top:$column-gutter/2; padding-bottom:$column-gutter/2; margin-bottom:$column-gutter;
}
.content{
  padding-top:$column-gutter/2; padding-bottom:$column-gutter; position:relative;
  &.row{margin-left:0; margin-right:0;}
}

section{
  h2{font-size:1.4rem; margin-bottom:0; border-bottom:dashed 1px $primary-color; padding-bottom:$column-gutter/2; color:$primary-color}
}

/**
*   ABOUT
*/

.doing-container{
  position:relative; float:left;
  .doing-content{
    padding-left:45px; font-size:0.8rem; display:block; float:left; color:#7F7F7F;
    strong{font-size:1.2em; display:block; color:#000;}
  }
}