
.relative{position:relative;}
.no-background{background: rgba(0,0,0,0) !important}

.headshot{padding:10px; background: #666}

.skill-overview{
  cursor:pointer;
  .duration{
    font-size:7rem; line-height:0.5em;
    span{font-size:0.2em; text-transform:uppercase; display:block;}
  }
}

.skills-container{
  &> div:nth-child(1){
    display:block;
    &:before {
      @include triangle;
      left: 11%;
    }
  }
  &> div:nth-child(2):before{
    @include triangle; left:36%;
  }
  &> div:nth-child(3):before{
    @include triangle; left:22%;
  }
  &> div:nth-child(4):before{
    @include triangle; left:86%;
  }
}
.skill-container{
  padding-top: 20px; background: #ddd; border-radius: 10px; position:relative; display:none;
  h5{margin-top:0;}

}

#portfolio-details{
  img{max-width:100%;}
}