<div id="about-container" class="page-container">
    <h2 class="large-12 columns medium-12">About me</h2>
    <div class="content row">
        <div class="large-5 medium-5 columns">
            <h3>Info</h3>
            <ul>
                <li><strong>Full Name:</strong> Edward (Ted) Sczelecki</li>
                <li><strong>Job:</strong> Freelancing</li>
                <li><strong>Email:</strong> <a href="mailto:ted@rebelpixel.ca">ted@rebelpixel.ca</a></li>
                <li><strong>Skype:</strong> tedsczelecki</li>
            </ul>
        </div>
        <div class="large-7 medium-7 columns">
            <h3>Languages</h3>
            <ul>
                <li>
                    <label>HMTL/CSS</label>
                    <div class="progress" role="progressbar" tabindex="0" aria-valuenow="9" aria-valuemin="0" aria-valuetext="9 years" aria-valuemax="9">
                    <span class="progress-meter" style="width: 100%">
                        <p class="progress-meter-text text-left">9 years</p>
                    </span>
                    </div>
                </li>
                <li>
                    <label>Javascript</label>
                    <div class="progress" role="progressbar" tabindex="0" aria-valuenow="5" aria-valuemin="0" aria-valuetext="5 years" aria-valuemax="9">
                    <span class="progress-meter" style="width: 60%">
                        <p class="progress-meter-text text-left">5 years</p>
                    </span>
                    </div>
                </li>
                <li>
                    <label>Android</label>
                    <div class="progress" role="progressbar" tabindex="0" aria-valuenow="1" aria-valuemin="0" aria-valuetext="1 year" aria-valuemax="9">
                    <span class="progress-meter" style="width: 12%">
                        <p class="progress-meter-text text-left">1 year</p>
                    </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="content row">
        <div class="large-12 medium-12 columns">
            <h3>I love to code</h3>
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <p>Donec id elit non mi porta gravida at eget metus. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
    </div>

    <div class="content row">
        <div class="large-12 medium-12 columns">
            <h3>What I'm doing</h3>
            <div class="large-4 medium-4 columns doing-container">
                <i class="circle-icon fa fa-apple"></i>
                <p class="doing-content">
                    <strong>Applications</strong>
                    Vehicula Malesuada Nullam Fermentum Dolor
                </p>
            </div>
            <div class="large-4 medium-4 columns doing-container">
                <i class="circle-icon fa fa-code"></i>
                <p class="doing-content">
                    <strong>Development</strong>
                    Vehicula Malesuada Nullam Fermentum Dolor
                </p>
            </div>
        </div>
    </div>
</div>