<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no"/>
    <meta name="description" content="Responsive One Page Vcard Portfolio or Resume Template"/>
    <meta name="author" content="TheThemeLab">
    <title>Identity - Responsive One Page Vcard Portfolio</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/ico-16.ico">
    <link rel="apple-touch-icon" href="img/ico-57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="img/ico-72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="img/ico-114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="img/ico-144.png" sizes="144x144">

    <link type='text/css' href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type='text/css' href="/dist/css/app.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- Pre-loader -->
<!--<div class="mask">-->
    <!--<div id="intro-loader">-->
    <!--</div>-->
<!--</div>-->
<!-- End Pre-loader -->
<!-- Navbar -->
<div id="navbar" class="navbar-transparent navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Ted Sczelecki
            </a>
        </div>
        <nav class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#portfolio">Work</a>
                </li>
                <li>
                    <a href="#skill">Skills</a>
                </li>
                <li>
                    <a href="#experience">Resume</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <!--/.navbar-collapse -->
    </div>
</div>
<!-- End Navbar -->

<!-- Home Section -->
<section id="home">
    <div class="home-container">
        <div class="heading-caption">
            <!-- LAYER NR. 2 -->
            <div class="caption box-title">
                Ted Sczelecki
            </div>
            <div class="caption sub-heading">
                Fullstack developer • problem solver • outdoors enthusiast
            </div>
        </div>
    </div>

    <div class="tp-banner-container">
        <div class="tp-banner" >
            <!--<ul>	&lt;!&ndash; SLIDE  &ndash;&gt;-->
                <!--<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on"  data-title="Slide 1">-->
                    <!--&lt;!&ndash; MAIN IMAGE &ndash;&gt;-->
                    <!--<img src="/dist/images/slide1.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">-->
                    <!--&lt;!&ndash; LAYERS &ndash;&gt;-->

                    <!--&lt;!&ndash; LAYER NR. 1 &ndash;&gt;-->
                    <!--<div class="tp-caption tp-resizeme sft sub-heading"-->
                         <!--data-x="center" data-hoffset="0"-->
                         <!--data-y="center" data-voffset="-50"-->
                         <!--data-speed="300"-->
                         <!--data-start="1200"-->
                         <!--data-easing="Power1.easeInOut"-->
                         <!--data-endeasing="Power1.easeInOut"-->
                         <!--data-captionhidden="off"-->
                         <!--data-endspeed="300"-->
                         <!--style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Welcome to my site-->
                    <!--</div>-->

                    <!--&lt;!&ndash; LAYER NR. 2 &ndash;&gt;-->
                    <!--<div class="tp-caption box-title sfb tp-fade tp-resizeme"-->
                         <!--data-x="center" data-hoffset="0"-->
                         <!--data-y="center" data-voffset="30"-->
                         <!--data-speed="300"-->
                         <!--data-start="1300"-->
                         <!--data-easing="Power1.easeInOut"-->
                         <!--data-endeasing="Power1.easeInOut"-->
                         <!--data-captionhidden="off"-->
                         <!--data-endspeed="300"-->
                         <!--style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Jonathan Doe-->
                    <!--</div>-->

                <!--</li>-->
                <!--&lt;!&ndash; SLIDE  &ndash;&gt;-->
                <!--<li data-transition="fade" data-slotamount="7" data-masterspeed="600" data-saveperformance="on"  data-title="Slide 2">-->
                    <!--&lt;!&ndash; MAIN IMAGE &ndash;&gt;-->
                    <!--<img src="/dist/images/slide2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">-->

                    <!--&lt;!&ndash; LAYER NR. 1 &ndash;&gt;-->
                    <!--<div class="tp-caption tp-resizeme sft sub-heading"-->
                         <!--data-x="center" data-hoffset="0"-->
                         <!--data-y="center" data-voffset="-50"-->
                         <!--data-speed="300"-->
                         <!--data-start="1200"-->
                         <!--data-easing="Power1.easeInOut"-->
                         <!--data-endeasing="Power1.easeInOut"-->
                         <!--data-captionhidden="off"-->
                         <!--data-endspeed="300"-->
                         <!--style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Creative - Professional - Passionate-->
                    <!--</div>-->

                    <!--&lt;!&ndash; LAYER NR. 2 &ndash;&gt;-->
                    <!--<div class="tp-caption box-title tp-fade sfb tp-resizeme"-->
                         <!--data-x="center" data-hoffset="0"-->
                         <!--data-y="center" data-voffset="30"-->
                         <!--data-speed="300"-->
                         <!--data-start="1300"-->
                         <!--data-easing="Power1.easeInOut"-->
                         <!--data-endeasing="Power1.easeInOut"-->
                         <!--data-captionhidden="off"-->
                         <!--data-endspeed="300"-->
                         <!--style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Frontend Developer-->
                    <!--</div>-->


                <!--</li>-->
            <!--</ul>-->
            <div class="tp-bannertimer"></div>	</div>
    </div>
    <!-- END REVOLUTION SLIDER -->

    <!--div class="slide-content">
        <div class="text-center">
            <div class="header">
                <div class="heading">
                    Welcome to my site
                </div>
                <div class="box-heading">
                    <div class="box-inner">
                        Jonathan Doe
                    </div>
                </div>
            </div>
        </div>
    </div-->
</section>
<!-- Home Section -->
<!-- About Section -->
<section id="about" class="section-content bg1">
    <div class="container">
        <div class="row">
            <!-- Section Title -->
            <div class="section-title text-center">
                <h1>About <span>Me</span></h1>
            </div>
            <!-- End Section Title -->
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/dist/images/photo.jpg" class="img-center img-responsive headshot" alt="My photo"/>
                <!-- YOUR PHOTO -->
            </div>
            <!-- some text about yourself -->
            <div class="col-md-8 ">
                <p class="quoteline">
                    Nothing is impossible. The only limitation is our imagination.
                </p>

                <p>Over the past seven years I have built everything from flash sites to fully scalable systems through building IE6 and have had more sleepless nights than I can count. I wouldn’t change anything.</p>

                <p>I started my career building Flash sites, when Flash died I moved to building more javascript heavy sites. For a couple years, I worked building sites and social media apps for various agency clients. After a while, I had a chance to help build and architect Glovebox, a content management system. Glovebox would end up having 100 live sites and 500k+ unique visitors a year. After a couple years of maintaining Glovebox full-time,  I became Tech Lead at Dashboard. It was at that time I began managing a team of 3-5 people and started building and architecting the second cloud platform, Octane.  Octane was built with NodeJS on the Mean stack. Since starting with Node, I found I used it consistently for my side projects, where it was most applicable.</p>

                <p>In 2015 I started a personal company, which I dubbed Rebel Pixel. During the first year of Rebel Pixel I worked on four projects. Three websites and one android app, which at that time I had no idea how to build.I am very interested in building more open source projects.  I enjoy challenging myself and learning the new skills to increase my knowledge to keep up with tech. I have a few start-up ideas to keep Rebel Pixel going through the next year.</p>

                <p>Recently, I have become increasingly interested in "Internet of things" after I picked up an Arduino Starter Kit and backed two speciality chips on Kickstarter. I have a never-ending list of ideas on how to use them, unfortunately, time is my only limitation.</p>
                <p class="text-right">
                    <img src="/dist/images/signature.png" alt="signature" />
                </p>
            </div>
            <!-- ./some text about yourself -->
        </div>
        <!--<div class="row services">-->
            <!--<div class="col-md-4">-->
                <!--&lt;!&ndash; Service &ndash;&gt;-->
                <!--<div class="services-box new-line ">-->
                    <!--<h4>Customer Support</h4>-->
                    <!--<div class="services-box-icon">-->
                        <!--<i class="fa fa-smile-o fa-3x"></i>-->
                    <!--</div>-->
                    <!--<div class="service-box-info">-->
                        <!--<p>-->
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellesque imperdiet. Nulla lacinia iaculis nulla.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; End Service &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
                <!--&lt;!&ndash; Service &ndash;&gt;-->
                <!--<div class="services-box new-line">-->
                    <!--<h4>Web Design</h4>-->
                    <!--<div class="services-box-icon">-->
                        <!--<i class="fa fa-html5 fa-3x"></i>-->
                    <!--</div>-->
                    <!--<div class="service-box-info">-->
                        <!--<p>-->
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellesque imperdiet. Nulla lacinia iaculis nulla.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; End Service &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-4 clearfix">-->
                <!--&lt;!&ndash; Service &ndash;&gt;-->
                <!--<div class="services-box new-line ">-->
                    <!--<h4>Wordpress Themes</h4>-->
                    <!--<div class="services-box-icon">-->
                        <!--<i class="fa fa-link fa-3x"></i>-->
                    <!--</div>-->
                    <!--<div class="service-box-info">-->
                        <!--<p>-->
                            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellesque imperdiet. Nulla lacinia iaculis nulla.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; End Service &ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    </div>
</section>
<!-- End About Section -->

<!-- Portfolio Section -->
<section id="portfolio" class="section-content bg-callout">
    <div class="container">
        <div class="row">
            <!-- Section title -->
            <div class="section-title text-center">
                <h1 class="white">The <span>Work</span></h1>
            </div>
            <!-- End Section title -->
        </div>
        <div class="portfolio-top">
        </div>
        <div id="portfolio-wrap" tabindex="1">
            <div id="portfolio-page">
                <div id="portfolio-content">
                    <div class="container">
                        <div class="row">
                            <div id="protfolio-control">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a href="#" id="prev-project" title="Previous Project"><i class="fa fa-arrow-left"></i></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <a href="#" id="close-project" title="Close Project"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-right">
                                        <a href="#" id="next-project" title="Next Project"><i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="portfolio-details">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 images relative" id="primary">

                                        </div>

                                        <div class="col-md-4" id="secondary">
                                            <!-- Project Summary -->
                                            <div class="project-desc">
                                                <h3 class="title">Project Details</h3>
                                                <div class="line-strong"></div>
                                                <ul class="list-details">
                                                    <li class="date"><i class="fa fa-calendar"></i> <span>10 March 2014</span></li>
                                                    <li class="tags" title="languages"><i class="fa fa-tag"></i> <span>video, logo</span></li>
                                                    <li class="client" title="Client"><i class="fa fa-user-md" aria-hidden="true"></i> <span>video, logo</span></li>
                                                    <li class="company" title="Company"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>video, logo</span></li>
                                                    <li class="demo"><i class="fa fa-globe"></i><a href="#" target="_blank">Live Demo</a></li>
                                                </ul>
                                                <p class="description"></p>
                                            </div>
                                            <!-- End Project Summary -->
                                        </div>
                                    </div>
                                    <!-- End .row -->
                                </div>
                                <!-- End .container -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End #portfolio-content -->
            </div>
            <!-- End #portfolio-page -->
        </div>
        <!-- End #portfolio-wrap -->
        <!--<div id="portfolio-filter">-->
            <!--<div class="row text-center">-->
                <!--<div class="col-md-12">-->
                    <!--&lt;!&ndash;portfolio category&ndash;&gt;-->
                    <!--<ul class="portfolio-filter-list white">-->
                        <!--<li>-->
                            <!--<a class="active" href="#" data-cat="*">ALL</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#" data-cat="design">Design</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#" data-cat="photo">Photography</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#" data-cat="video">Video</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#" data-cat="web">Web</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#" data-cat="mobile">Mobile</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--&lt;!&ndash;End portfolio category&ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; End .col-md-12 &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; End .row &ndash;&gt;-->
        <!--</div>-->
    </div>
    <!-- End .container -->

    <!-- End #portfolio-filter -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="portfolio-items" class="portfolio-items ">

                    {% for work in works %}
                    <article class="design photo portfolio-item" ref="{{ loop.index - 1 }}">
                        <a href="#!projects/{{ work.slug }}">
                            <img src="/dist/images/portfolio/{{ work.slug }}/thumb.jpg" alt="image"/>
                            <div class="overlay">
                                <div class="item-info">
                                    <i class="fa fa-camera"></i>
                                    <h3>{{ work.title }}</h3>
                                    <span>{{ work.info.company | capitalize }}</span>
                                </div>
                            </div>
                            <!-- End .overlay -->
                        </a>
                    </article>
                    {% endfor %}
                </div>
                <!-- End #portfolio-items.portfolio-items -->
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section -->

<!-- Skill Section -->
<section id="skill" class="section-content bg2">
    <div class="container">
        <div class="row">
            <!-- Section Title -->
            <div class="section-title text-center">
                <h1>My <span>Skills</span></h1>
            </div>
            <!-- End Section Title -->
        </div>
        <div class="row text-center">
            <div class="col-md-3 skill-overview" ref="frontend">
                <span class="duration">
                    10
                    <span>Years</span>
                </span>
                <h4>Frontend Development</h4>
                <p>
                    Building kickass interfaces and websites with an eye for design.
                </p>
            </div>
            <div class="col-md-3 skill-overview" ref="fullstack">
                <span class="duration">
                    7
                    <span>Years</span>
                </span>
                <h4>Fullstack</h4>
                <p>
                    Building websites and apps on<br/>different stacks.
                </p>
            </div>
            <div class="col-md-3 skill-overview" ref="app-development">
                <span class="duration">
                    2
                    <span>Projects</span>
                </span>
                <h4>App development</h4>
                <p>
                    Building apps natively and with the help of compilers.
                </p>
            </div>
            <div class="col-md-3 skill-overview" ref="iot">
                <span class="duration">
                    10
                    <span>Languages and frameworks</span>
                </span>
                <h4>Tinkering</h4>
                <p>
                    I'm always trying to expand my knowledge on different languages and frameworks to choose the right tool for the job.
                </p>
            </div>
        </div>
        <div class="skills-container">
            <div class="row new-line skill-container frontend">
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:100%"><strong>HTML/CSS 10 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:60%"><strong>Javascript / jQuery 6 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:60%"><strong>Sass 6 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:30%"><strong>Grunt 3 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:20%"><strong>Angular 2 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row new-line skill-container fullstack">
                <div class="col-md-6">
                    <h5>LAMP</h5>
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:71%"><strong>Apache / Nginx 5 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:72%"><strong>MySQL 5 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:100%"><strong>PHP 7 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>MEAN</h5>
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:42%"><strong>MongoDB 3 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:42%"><strong>Express 3 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:28%"><strong>Angular 2 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:42%"><strong>Node 3 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row new-line skill-container app-development col-md-6 pull-right">
                    <ul class="skillBar">
                        <li>
                            <h5>Native Android</h5>
                            <p>Built a tablet app for an installment. Read more about it here.</p>
                        </li>
                        <li>
                            <h5>Spark App</h5>
                            <p>An adroid app to monitor test drive for auto dealerships built using Xmarin in C#.</p>
                        </li>
                    </ul>
            </div>
            <div class="row new-line skill-container iot col-md-12 pull-right">
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <h5>Arduino</h5>
                            <p>Worked through most of the initial example booklet that comes with the starter kit.</p>
                        </li>
                        <li>
                            <h5>Raspberry Pi</h5>
                            <p>Haven't had a chance to mess around with building on the Pi but I look forward to doing so in the near future.</p>
                        </li>
                        <li>
                            <h5>Coursera Specification</h5>
                            <p>Currently I am enrolled in the Coursera Internet of things specification working through the second course in building things with ardunio</p>
                        </li>
                        <li>
                            <h5>Java</h5>
                            <p>Throughout my career I have tinkered with Java by either building parsers or using lucene to index a search. I can make my way around a Java project pretty well and enjoy doing it from time to time.</p>
                        </li>
                        <li>
                            <h5>Bash</h5>
                            <p>Nothing feels better when you create a download and install script for an overly complicated project.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <h5>Unity and C#</h5>
                            <p>I few years ago I started messing around with Unity and their 2D version. I become familiar with it enough to make a mini framework to make it easier to create new components</p>
                        </li>
                        <li>
                            <h5>Python</h5>
                            <p>I've used Python to create file reader/parsers to help with everyday tasks</p>
                        </li>
                        <li>
                            <h5>Gulp</h5>
                            <p>Ive had some time to start checking out Gulp coming from a grunt background. Haven't had the need to build my own plugin yet to really get under the hood but soon!</p>
                        </li>
                        <li>
                            <h5>React</h5>
                            <p>So many people have been using React so I decided to give it a go. I've gotten a project up and running with babble and webpack and built a few compnents but I haven't started building them for a project yet.</p>
                        </li>
                        <li>
                            <h5>Postgres</h5>
                            <p>We used Postgres extensivly on Octane due to its queryable JSON type. I'm pretty comortable querying and creating tables, theres just not decent GUI for Mac.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- skills end -->
    </div>
</section>
<!-- End Skill Section -->
<section class="fullwidth-section bg-callout">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="white padBottom killMargin">I am available for <strong>Freelance</strong></h1>
                <a href="#contact" class="scroll btn btn-trans btn-border-w btn-large">Hire Me</a>&nbsp;&nbsp;<a class="btn btn-primary btn-lg" href="#"><i class="fa fa-download"></i> Download Resume</a>
            </div>
        </div>
    </div>
</section>
<!-- Resume Section -->
<section id="experience" class="section-content bg2">
    <div class="container">
        <div class="row">
            <!-- Section title -->
            <div class="section-title text-center">
                <h1>My <span>Resume</span></h1>
            </div>
            <!-- End Section title -->
        </div>
        <div class="row">
            <ul class="timeline list-unstyled">
                <!-- History Year -->
                <li class="title"><i class="fa fa-briefcase" aria-hidden="true"></i></li>
                <li class="note ">
                    <h4>Rebel Pixel</h4>
                    <h5>Owner</h5>
                    <p class="desc">
                        In 2015 I started getting more and more project inquires so I finally needed to register my own company. Rebel Pixel was born. I mainly took on site builds, mostly on Wordpress, but I also had the chance to build my <a href="#!/projects/walmart-blackweb">first native Android app</a> which was an unforgettable experience. In the future I'd like to make it more of an R&amp;D company pushing the limits of tech and building killer open source frameworks and modules.
                    </p>
                    <span class="date">APRIL 2015 to Present</span>
                    <span class="arrow fa fa-play"></span>
                </li>
                <li class="note ">
                    <h4>Dashboard</h4>
                    <h5>Tech Lead</h5>
                    <p class="desc">
                        I was Tech lead at Dashboard for a little less than 3 years. I was responsible for hiring new developers, mentoring the junior developers, scheduling and resourcing to meet deadlines, day to day programming and architecting the Octane framework. It was an extreamly busy time full of learning and experiences and allowed me to grow into a team lead.
                    </p>
			        <span class="date">OCT 2013 - MAY 2016</span>
                    <span class="arrow fa fa-play"></span>
                </li>
                <li class="note" style="margin-bottom:65px;">
                    <h4>Dashboard</h4>
                    <h5>Developer</h5>
                    <p class="desc">
                        I started at Dashboard about a month after finishing the Humber certificate program. Dashboard had come in and talked to our class midway through the program and at the time was one of the best flash shops in Toronto. During the first year at Dashboard I was helping out the more senior guys with whatever they needed. One of the things I had to do early on was build a Facbook Connect app without having Facebook. Over the next little bit I was responsible to maintain Glovebox V1 sites as well as build smaller sites that came through. The first project I lead was <a href="#!/projects/rocscience">Rocscience</a> which was a huge challenge and learning experience. Later on in my time at Dashboard I was able to design and architect the next iteration of Glovebox and was maintaining all of the sites fulltime.
                    </p>
                    <span class="date">MAY 2009 - OCT 2013</span>
                    <span class="arrow fa fa-play"></span>
                </li>
                <!-- Education -->
                <li class="title"><i class="fa fa-graduation-cap" aria-hidden="true"></i></li>
                <li class="note" style="margin-bottom:65px;">
                    <h4>Humber College</h4>
                    <h5>Web design, development and maintenance certificate</h5>
                    <p class="desc">
                        This was an accellerated program with last a short 6 months which taught all of the basicas in web development and design. Originally I wanted to go into graphic design but know how to code a little bit but shortly after starting the program I fell in love with coding and never turned back.
                    </p>
			        <span class="date">2008 - 2009 </span>
                    <span class="arrow fa fa-play"></span>
                </li>


                <li class="title"><i class="fa fa-trophy" aria-hidden="true"></i></li>
                <li class="note ">
                    <h4>The Globe and Mail Cannes Young Lions</h4>
                    <h5>Placed silver in the 2012 competition </h5>
                    <p class="desc">
                        I entered this competition at the last minute with a co-worker at Dashboard not knowing much about what I was getting into. The competition's format is you get a brief emailed to you at 9am and you have until 9am the next day to build a banner ad campaign around the brief. After the 24 hours are up the entries go to a panel and get judged before a winner is selected. The winner at the end gets a trip to the Cannes festival in France to compete against teams from all over the world.
                    </p>
                    <p class="desc">
                        The client was YMCA and the goal of the campaign was to bring awareness to all the things the YMCA offers. We ended up building a parallax scrolling banners which took the user through various environments including a gym and a campsite (with a fire using a particle engine!)
                    </p>
                    <span class="date">2012</span>
                    <span class="arrow fa fa-play"></span>
                </li>
                <!-- Start icon -->
                <li class="clear"></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Experience Timeline Section -->

<!-- Clients Section -->
<!--<section id="clients" class="clients parallax" style="background-image: url(/dist/images/clients.png)">-->
    <!--<div class="parallax-overlay">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--&lt;!&ndash; Section title &ndash;&gt;-->
                <!--<div class="section-title text-center">-->
                    <!--<div>-->
                        <!--<span class="fa fa-users fa-2x"></span>-->
                    <!--</div>-->
                    <!--<h1 class="white">My <span>Clients</span></h1>-->
                <!--</div>-->
                <!--&lt;!&ndash; End Section title &ndash;&gt;-->
            <!--</div>-->

            <!--<div class="row">-->

                <!--<h4 class="white">What my <strong>clients saying</strong></h4>-->

                <!--<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">-->

                    <!--<div class="swiper-testimonial">-->

                        <!--<div class="swiper-wrapper">-->

                            <!--&lt;!&ndash;First Slide&ndash;&gt;-->
                            <!--<div class="swiper-slide">-->
                                <!--<p class="quote">"It’s easy to see the passion that the guys have for their work. He really care about making unique designs for their clients, and put in incredible effort to make the whole process a real pleasure."</p>-->
                                <!--<p class="author">Jak Doe</p>-->
                                <!--<p class="company">CEO <a href="#">@Intel</a></p>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;Second Slide&ndash;&gt;-->
                            <!--<div class="swiper-slide">-->
                                <!--<p class="quote">"My website couldn’t look better after working with the him on the redesign. Now my site and corporate	branding is outstanding! He is awesome."</p>-->
                                <!--<p class="author">John Doe</p>-->
                                <!--<p class="company">Manager <a href="#">@Web Planet</a></p>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;Third Slide&ndash;&gt;-->
                            <!--<div class="swiper-slide">-->
                                <!--<p class="quote">"I am incredibly happy with the increased traffic my site has received since working with you! He is the best at this job."</p>-->
                                <!--<p class="author">Jane Doe</p>-->
                                <!--<p class="company">Owner <a href="#">@Creative Agency</a></p>-->
                            <!--</div>-->
                        <!--</div>&lt;!&ndash;/ .swiper-wrapper &ndash;&gt;-->
                        <!--<div class="pagination-testimonial"></div> &lt;!&ndash;/ swiper slider pagination &ndash;&gt;-->
                    <!--</div>&lt;!&ndash;/ .swiper-testimonial &ndash;&gt;-->
                <!--</div>-->

            <!--</div> &lt;!&ndash;/ .row &ndash;&gt;-->

            <!--<div class="row new-line ">-->
                <!--<h4 class="white">Some of <strong>my clients</strong></h4>-->
                <!--<div class="carrousel-container">-->
                    <!--<div id="left_scroll"><a href=""></a></div>-->
                    <!--<div id="carousel_inner">-->
                        <!--<ul class="clearfix" id="carousel_ul">-->
                            <!--<li><span><img src=/dist/images/clients/twitter.png alt="Twitter"></span></li>-->
                            <!--<li><span><img src=/dist/images/clients/magento.png alt="magento"></span></li>-->
                            <!--<li><span><img src=/dist/images/clients/mailchimp.png alt="mailchimp"></span></li>-->
                            <!--<li><span><img src=/dist/images/clients/nexternal.png alt="nexternal"></span></li>-->
                            <!--<li><span><img src=/dist/images/clients/wordpress.png alt="wordpress"></span></li>-->
                            <!--<li><span><img src=/dist/images/clients/google.png alt="google"></span></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div id="right_scroll"><a href=""></a></div>-->
                    <!--<input type="hidden" id="hidden_auto_slide_seconds" value=0 />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<!-- End Clients Section -->


<!-- Process Section -->
<!--<section id="process" class="section-content bg3">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--&lt;!&ndash; Section title &ndash;&gt;-->
            <!--<div class="section-title text-center">-->
                <!--<div>-->
                    <!--<span class="fa fa-cogs fa-2x"></span>-->
                <!--</div>-->
                <!--<h1 class="white">My <span>Process</span></h1>-->
            <!--</div>-->
            <!--&lt;!&ndash; End Section title &ndash;&gt;-->

            <!--<ol class="process-flow list-unstyled">-->
                <!--<li class="active">-->
                    <!--<div class="process-node active">-->
                        <!--<i class="fa fa-comments"></i>-->
                    <!--</div>-->
                    <!--<h4>Discussion</h4>-->
                    <!--<p>Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>-->
                    <!--<div class="line">-->
                        <!--<div class="progress"></div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<div class="process-node active">-->
                        <!--<i class="fa fa-lightbulb-o"></i>-->
                    <!--</div>-->
                    <!--<h4>Idea</h4>-->
                    <!--<p>Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>-->
                    <!--<div class="line">-->
                        <!--<div class="progress"></div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<div class="process-node active">-->
                        <!--<i class="fa fa-desktop"></i>-->
                    <!--</div>-->
                    <!--<h4>Implementation</h4>-->
                    <!--<p>Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>-->
                    <!--<div class="line">-->
                        <!--<div class="progress"></div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<div class="process-node active">-->
                        <!--<i class="fa fa-flash"></i>-->
                    <!--</div>-->
                    <!--<h4>Review</h4>-->
                    <!--<p>Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>-->
                    <!--<div class="line">-->
                        <!--<div class="progress"></div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="active">-->
                    <!--<div class="process-node active">-->
                        <!--<i class="fa fa-rocket"></i>-->
                    <!--</div>-->
                    <!--<h4>Deliver</h4>-->
                    <!--<p>Lorem Ipsum lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.</p>-->
                <!--</li>-->
            <!--</ol>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<!-- End Process Section -->

<!-- Contact Section -->
<footer id="contact" class="section-content bg2 bg-callout">
    <div class="container">
        <div class="row">
            <!-- Section title -->
            <div class="section-title text-center">
                <div>
                    <span class="fa fa-envelope fa-2x"></span>
                </div>
                <h1 class="white">Get in <span>touch</span></h1>
            </div>
            <!-- End Section title -->
        </div>
        <div class="row ">
            <div class="col-md-6 col-md-offset-3 text-center contact-block">
                <!-- Contact Details -->
                <!-- End Contact Details -->
                <!-- Social Icon -->
                <div class="social-icon">
                    <a href="http://www.github.com/rebelpixeldev" target="_blank"><i class="fa fa-github-alt fa-3x white" aria-hidden="true"></i></a>
                    <a href="http://stackoverflow.com/users/708689/locrizak" target="_blank"><i class="fa fa-stack-overflow fa-3x white" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/ted-sczelecki-930a6127" target="_blank"><i class="fa fa-linkedin-square fa-3x white"></i></a>
                    <a href="mailto:ted@rebelpixel.ca" target="_blank"><i class="fa fa-envelope-o fa-3x white" aria-hidden="true"></i></i></a>
                </div>
                <!-- End Social Icon -->
            </div>
            <div class="col-md-6 col-md-offset-3 container text-center ">
                &copy; Copyright <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.
            </div>
        </div>
        <!--<div class="row ">-->
            <!--<h4 class="text-center">Drop me a Line</h4>-->
            <!--<div class="col-md-6 col-md-offset-3">-->
                <!--<div class="form-respond text-center">-->
                <!--</div>-->
                <!--<form method="post" name="contactform" id="contactform" class="form validate" role="form">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" name="name" id="name" class="form-control required" placeholder="Name">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<input type="email" name="email" id="email" class="form-control required email" placeholder="Email">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<textarea name="message" id="message" class="form-control input-lg required" rows="9" placeholder="Enter Message"></textarea>-->
                    <!--</div>-->
                    <!--<div class="form-group text-center">-->
                        <!--<input type="submit" id="contactForm_submit" class="btn btn-trans btn-border btn-full" value="Submit">-->
                    <!--</div>-->
                    <!--&lt;!&ndash; antispam code &ndash;&gt;-->
                    <!--<div class="antispam"><input type="text" value="" name="url" /></div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
        <!-- End form contact -->
    </div>
</footer>
<a href="#" id="back-top"><i class="fa fa-angle-up fa-2x"></i></a>

    <script type="text/javascript">
        const worksArr = JSON.parse(JSON.stringify({{works | safe | json}}));
    </script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/dist/js/bundle.js"></script>
</body>
</html>