<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Freelance Fullstack LAMP and MEAN developer based in Toronto Ontario"/>
    <meta name="author" content="Ted Sczelecki">
    <title>Ted Sczelecki - Fullstack developer • problem solver • outdoors enthusiast</title>
    <!-- Favicons -->
    <!--<link rel="icon" href="/favicon.ico">-->
    <link rel="shortcut icon" type="image/ico" href="/dist/images/favicon.png" />

    <meta property="og:title" content="Ted Sczelecki - Fullstack developer • problem solver • outdoors enthusiast" />
    <meta property="og:url" content="http://www.tedsczelecki.com" />
    <meta property="og:image" content="/dist/images/photo.jpg" />

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link type='text/css' href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type='text/css' href="/dist/css/app.css" rel="stylesheet">

    {% if renderAnalytics %}
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-80525166-1', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
</head>
<body>
<div id="navbar" class="navbar-transparent navbar-fixed-top no-background">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Ted Sczelecki
            </a>
        </div>
        <nav class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#work">Work</a>
                </li>
                <li>
                    <a href="#skills">Skills</a>
                </li>
                <li>
                    <a href="#resume">Resume</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<section id="home" class="section-content">
    <div class="home-container">
        <div class="heading-caption">
            <!-- LAYER NR. 2 -->
            <div class="caption box-title">
                Ted Sczelecki
            </div>
            <div class="caption sub-heading desktop-subheading">
                Fullstack developer • problem solver • outdoors enthusiast
            </div>
            <div class="caption sub-heading mobile-subheading">
                Fullstack developer<br/>problem solver<br/>outdoors enthusiast
            </div>
        </div>
    </div>

    <div class="tp-banner-container">
        <div class="tp-banner" >
            <div class="tp-bannertimer"></div>	</div>
    </div>
</section>
<section id="about" class="section-content bg1">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1>About <span>Me</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="/dist/images/photo.jpg" class="img-center img-responsive headshot" alt="My photo"/>
            </div>
            <div class="col-md-8 ">
                <p class="quoteline">
                    Nothing is impossible. The only limitation is our imagination.
                </p>

                <p>Over the past eight years I have built everything from flash sites to fully scalable systems through building IE6 and have had more sleepless nights than I can count. I wouldn’t change anything.</p>
                <p>I started my career building Flash sites, when Flash died I moved to building more javascript heavy sites. For a couple years, I worked building sites and social media apps for various agency clients. After a while, I had a chance to help build and architect Glovebox, a content management system. Glovebox would end up having 100 live sites and 500k+ unique visitors a year. After a couple years of maintaining Glovebox full-time,  I became Tech Lead at Dashboard. It was at that time I began managing a team of 3-5 people and started building and architecting the second cloud platform, Octane.  Octane was built with NodeJS on the Mean stack. Since starting with Node, I found I used it consistently for my side projects, where it was most applicable.</p>
                <p>In 2015 I started a personal company, which I dubbed Rebel Pixel. During the first year of Rebel Pixel I worked on four projects. Three websites and one android app, which at that time I had no idea how to build.I am very interested in building more open source projects.  I enjoy challenging myself and learning the new skills to increase my knowledge to keep up with tech. I have a few start-up ideas to keep Rebel Pixel going through the next year.</p>
                <p>Recently, I have been working on my own boilerplate framework to help kickstart any project. It has many of the common elements that you would need for any project such as, account creation and user auth, media library, form builder, activity logger. It is built using a Node api and React and Angular frontend.</p>


                <p class="text-right">
                    <img src="/dist/images/signature.png" alt="signature" />
                </p>
            </div>
        </div>
    </div>
</section>

<section id="work" class="section-content bg-callout">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h1 class="white">The <span>Work</span></h1>
            </div>
        </div>
        <div class="portfolio-top">
        </div>
        <div id="portfolio-wrap" tabindex="1">
            <div id="portfolio-page">
                <div id="portfolio-content">
                    <div class="container">
                        <div class="row">
                            <div id="protfolio-control">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <a href="#" id="prev-project" title="Previous Project"><i class="fa fa-arrow-left"></i></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-center">
                                        <a href="#work" id="close-project" title="Close Project"><i class="fa fa-times"></i></a>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-right">
                                        <a href="#" id="next-project" title="Next Project"><i class="fa fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="portfolio-details">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4" id="secondary">
                                            <!-- Project Summary -->
                                            <div class="project-desc">
                                                <h3 class="title">Project Details</h3>
                                                <div class="line-strong"></div>
                                                <ul class="list-details">
                                                    <li class="date"><i class="fa fa-calendar"></i> <span>10 March 2014</span></li>
                                                    <li class="tags" title="languages"><i class="fa fa-tag"></i> <span>video, logo</span></li>
                                                    <li class="client" title="Client"><i class="fa fa-user-md" aria-hidden="true"></i> <span>video, logo</span></li>
                                                    <li class="company" title="Company"><i class="fa fa-briefcase" aria-hidden="true"></i> <span>video, logo</span></li>
                                                    <li class="demo"><i class="fa fa-globe"></i><a href="#" target="_blank">Live Demo</a></li>
                                                </ul>
                                                <p class="description"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-8 images relative" id="primary">

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="portfolio-items" class="portfolio-items ">

                    {% for work in works %}
                    <article class="design photo portfolio-item" ref="{{ loop.index - 1 }}">
                        <a href="#!projects/{{ work.slug }}">
                            <img src="/dist/images/portfolio/{{ work.slug }}/thumb.jpg" alt="image"/>
                            <div class="overlay">
                                <div class="item-info">
                                    <i class="fa fa-camera"></i>
                                    <h3>{{ work.title }}</h3>
                                    <span>{{ work.info.company | capitalize }}</span>
                                </div>
                            </div>
                        </a>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section id="skills" class="section-content bg2">
    <div class="container">
        <div class="row">
            <!-- Section Title -->
            <div class="section-title text-center">
                <h1>My <span>Skills</span></h1>
            </div>
            <!-- End Section Title -->
        </div>
        <div class="row text-center">
            <div class="col-md-3 skill-overview" ref="frontend">
                <span class="duration">
                    10
                    <span>Years</span>
                </span>
                <h4>Frontend Development</h4>
                <p>
                    Building beautiful and reusable interfaces and websites with an eye for design.
                </p>
            </div>
            <div class="row new-line skill-container mobile-skill">
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:100%"><strong>HTML/CSS 10 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:60%"><strong>Javascript / jQuery 6 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:40%"><strong>Sass 4 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:30%"><strong>Grunt 3 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:20%"><strong>Angular 2 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 skill-overview" ref="fullstack">
                <span class="duration">
                    7
                    <span>Years</span>
                </span>
                <h4>Fullstack</h4>
                <p>
                    Building websites and apps on<br/>different stacks.
                </p>
            </div>
            <div class="row new-line skill-container mobile-skill">
                <div class="col-md-6">
                    <h5>LAMP</h5>
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:71%"><strong>Apache / Nginx 5 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:72%"><strong>MySQL 5 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:100%"><strong>PHP 7 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>MEAN</h5>
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:42%"><strong>MongoDB 3 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:42%"><strong>Express 3 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:28%"><strong>Angular 2 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:42%"><strong>Node 3 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 skill-overview" ref="app-development">
                <span class="duration">
                    2
                    <span>Projects</span>
                </span>
                <h4>App development</h4>
                <p>
                    Building apps natively and with the help of compilers.
                </p>
            </div>
            <div class="row new-line skill-container col-md-6 pull-right mobile-skill">
                <ul class="skillBar">
                    <li>
                        <h5>Native Android</h5>
                        <p>Built a tablet app for an installation. Read more about it <a href="/#!projects/walmart-blackweb">here.</a></p>
                    </li>
                    <li>
                        <h5>Spark App</h5>
                        <p>An Android app built to monitor test drives for auto dealerships  using Xamarin in C#.</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 skill-overview" ref="iot">
                <span class="duration">
                    10
                    <span>Languages and frameworks</span>
                </span>
                <h4>Experimenting</h4>
                <p>
                    I'm always trying to challenge and expand my knowledge on different languages and frameworks.
                </p>
            </div>
            <div class="row new-line skill-container col-md-12 pull-right mobile-skill">
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <h5>Arduino</h5>
                            <p>Worked through most of the initial example booklet that comes with the starter kit.</p>
                        </li>
                        <li>
                            <h5>Raspberry Pi</h5>
                            <p>Haven't had a chance to mess around with building on the Pi but I look forward to doing so in the near future.</p>
                        </li>
                        <li>
                            <h5>Coursera Specification</h5>
                            <p>Currently, I am enrolled in the Coursera Internet of Things specification working through the second course in building with Arduino.</p>
                        </li>
                        <li>
                            <h5>Java</h5>
                            <p>Throughout my career, I have tinkered with Java by either building parsers or using Lucene to index a search. I can make my way around a Java project well and enjoy doing it from time to time.</p>
                        </li>
                        <li>
                            <h5>Bash</h5>
                            <p>Nothing feels better when you create a download and install script for an overly complicated project.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <h5>Unity and C#</h5>
                            <p>A few years ago I started messing around with Unity and their 2D version. I became familiar with it enough to make a mini framework, which made it easier to create new components.</p>
                        </li>
                        <li>
                            <h5>Python</h5>
                            <p>I've used Python to create file reader/parsers to help with everyday tasks.</p>
                        </li>
                        <li>
                            <h5>Gulp</h5>
                            <p>I've had some time to start checking out Gulp, but I haven’t had the need to build my own plug-in yet to really get under the hood, but soon!</p>
                        </li>
                        <li>
                            <h5>React</h5>
                            <p>So many people have been using React, so I decided to give it a go. I've got it up and running with babble, webpack, and built a few components, but I haven't started building them for a project yet.</p>
                        </li>
                        <li>
                            <h5>PostgreSQL</h5>
                            <p>We used Postgres extensively on Octane because of its queryable JSON type. I'm pretty comfortable querying and creating tables, there's just not decent GUI for Mac.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="skills-container">
            <div class="row new-line skill-container frontend">
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:100%"><strong>HTML/CSS 11 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:60%"><strong>Javascript / jQuery 7 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:40%"><strong>Sass 5 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:30%"><strong>Grunt/Gulp 4 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:20%"><strong>Angular 3 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:20%"><strong>React 1 year</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row new-line skill-container fullstack">
                <div class="col-md-6">
                    <h5>LAMP</h5>
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:71%"><strong>Apache / Nginx 6 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:72%"><strong>MySQL 6 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:100%"><strong>PHP 8 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5>MEAN</h5>
                    <ul class="skillBar">
                        <li>
                            <div class="skillBg">
                                <span style="width:42%"><strong>MongoDB 4 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:42%"><strong>Express 4 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:28%"><strong>Angular 3 years</strong></span>
                            </div>
                        </li>
                        <li>
                            <div class="skillBg">
                                <span style="width:42%"><strong>Node 4 years</strong></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row new-line skill-container app-development col-md-6 pull-right">
                    <ul class="skillBar">
                        <li>
                            <h5>Native Android</h5>
                            <p>Built a tablet app for an installment. Read more about it <a href="/#!projects/walmart-blackweb">here.</a></p>
                        </li>
                        <li>
                            <h5>Spark App</h5>
                            <p>An Android app built to monitor test drives for auto dealerships  using Xamarin in C#.</p>
                        </li>
                    </ul>
            </div>
            <div class="row new-line skill-container iot col-md-12 pull-right">
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <h5>Arduino</h5>
                            <p>Worked through most of the initial example booklet that comes with the starter kit.</p>
                        </li>
                        <li>
                            <h5>Raspberry Pi</h5>
                            <p>Haven't had a chance to mess around with building on the Pi but I look forward to doing so in the near future.</p>
                        </li>
                        <li>
                            <h5>Coursera Specification</h5>
                            <p>Currently, I am enrolled in the Coursera Internet of Things specification working through the second course in building with Arduino.</p>
                        </li>
                        <li>
                            <h5>Java</h5>
                            <p>Throughout my career, I have tinkered with Java by either building parsers or using Lucene to index a search. I can make my way around a Java project well and enjoy doing it from time to time.</p>
                        </li>
                        <li>
                            <h5>Bash</h5>
                            <p>Nothing feels better when you create a download and install script for an overly complicated project.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="skillBar">
                        <li>
                            <h5>Unity and C#</h5>
                            <p>A few years ago I started messing around with Unity and their 2D version. I became familiar with it enough to make a mini framework, which made it easier to create new components.</p>
                        </li>
                        <li>
                            <h5>Python</h5>
                            <p>I've used Python to create file reader/parsers to help with everyday tasks.</p>
                        </li>
                        <li>
                            <h5>Gulp</h5>
                            <p>I've had some time to start checking out Gulp, but I haven’t had the need to build my own plug-in yet to really get under the hood, but soon!</p>
                        </li>
                        <li>
                            <h5>React</h5>
                            <p>So many people have been using React, so I decided to give it a go. I've got it up and running with babble, webpack, and built a few components, but I haven't started building them for a project yet.</p>
                        </li>
                        <li>
                            <h5>PostgreSQL</h5>
                            <p>We used Postgres extensively on Octane because of its queryable JSON type. I'm pretty comfortable querying and creating tables, there's just not decent GUI for Mac.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- skills end -->
    </div>
</section>
<!-- End Skill Section -->
<section class="fullwidth-section bg-callout">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="white padBottom killMargin">I am available for <strong>Freelance</strong></h1>
                <a href="#contact" class="scroll btn btn-trans btn-border-w btn-large">Hire Me</a>&nbsp;&nbsp;<a class="btn btn-primary btn-lg" href="/docs/resume.pdf" target="_blank"><i class="fa fa-download"></i> Download Resume</a>
            </div>
        </div>
    </div>
</section>
<!-- Resume Section -->
<section id="resume" class="section-content bg2">
    <div class="container">
        <div class="row">
            <!-- Section title -->
            <div class="section-title text-center">
                <h1>My <span>Resume</span></h1>
            </div>
            <!-- End Section title -->
        </div>
        <div class="row">
            <ul class="timeline list-unstyled">
                <!-- History Year -->
                <li class="title"><i class="fa fa-briefcase" aria-hidden="true"></i></li>
                <li class="note ">
                    <h4>Konrad Group</h4>
                    <h5>Senior Developer</h5>
                    <p class="desc">
                        During my time at Konrad, I built a highly interactive site for the sick kids foundation and I am currently the Dev lead on a publication site and job board called Techvibes. While working on Techvibes we have, rebuilt the algorithm to select jobs for candidates, built out that ability to send relevant job alerts to candidates, rebuilt and skinned the admin area with React, and completely reskinned the publication site and the job board.
                    </p>
                    <span class="date">AUGUST 2016 to Present</span>
                    <span class="arrow fa fa-play"></span>
                </li>
                <li class="note ">
                    <h4>Rebel Pixel</h4>
                    <h5>Owner</h5>
                    <p class="desc">
                        In 2015 I started getting more and more project inquires so I finally needed to register my own company, Rebel Pixel was born. I mainly took on site builds, mostly on Wordpress, but I also had the chance to build my <a href="#!/projects/walmart-blackweb">first native Android app</a> which was an unforgettable experience. Currently I am working on a bootstrap framework to kick start any project so you can focus on the business logic.
                    </p>
                    <span class="date">APRIL 2015 to Present</span>
                    <span class="arrow fa fa-play"></span>
                </li>
                <li class="note ">
                    <h4>Dashboard</h4>
                    <h5>Tech Lead</h5>
                    <p class="desc">
                        I was Tech lead at Dashboard for a little less than 3 years. I was responsible for hiring new developers, mentoring the junior developers, scheduling and resourcing to meet deadlines, day-to-day programming and architecting the Octane framework. It was an extremely busy time, full of learning and experiences, allowing me to grow into a team lead.
                    </p>
			        <span class="date">OCT 2013 - MAY 2016</span>
                    <span class="arrow fa fa-play"></span>
                </li>
                <li class="note" style="margin-bottom:65px;">
                    <h4>Dashboard</h4>
                    <h5>Developer</h5>
                    <p class="desc">
                        I started at Dashboard about a month after finishing at Humber College. Dashboard came in and talked to our class midway through the program. At the time they were one of the best flash shops in Toronto, which increased my desire to work there. During the first year at Dashboard I was helping out the senior developers, with whatever they needed. One of the things I had to do early on was build a Facebook Connect app without having Facebook account. Over the next little bit I was responsible to maintain Glovebox V1 sites, as well as build smaller sites that came through. The first project I lead was <a href="#!/projects/rocscience">Rocscience</a>, which was a huge challenge and learning experience. Later on in my time at Dashboard, I was able to design and architect the next iteration of Glovebox and was maintaining it full-time.
                    </p>
                    <span class="date">MAY 2009 - OCT 2013</span>
                    <span class="arrow fa fa-play"></span>
                </li>
                <!-- Education -->
                <li class="title"><i class="fa fa-graduation-cap" aria-hidden="true"></i></li>
                <li class="note" style="margin-bottom:65px;">
                    <h4>Humber College</h4>
                    <h5>Web design, development and maintenance certificate</h5>
                    <p class="desc">
                        This was an accelerated 6 month program, which taught all of the basics in web development and design. Originally, I wanted to get into graphic design and enrolled in the course for the sole purpose to know how to code a little bit. Shortly after starting the program, I fell in love with coding and have never looked back.
                    </p>
			        <span class="date">2008 - 2009 </span>
                    <span class="arrow fa fa-play"></span>
                </li>


                <li class="title"><i class="fa fa-trophy" aria-hidden="true"></i></li>
                <li class="note ">
                    <h4>The Globe and Mail Cannes Young Lions</h4>
                    <h5>Placed silver in the 2012 competition </h5>
                    <p class="desc">
                        Not knowing much about what I was getting into, I entered this competition last minute with a co-worker at Dashboard. The competition’s format is you receive a brief at 9am and you have 24 hours to build a banner ad campaign around that brief. After the 24 hours are up the entries go to a panel on judges and the client to select a winner. The winner at the end received a trip to the Cannes festival in France to compete against teams from all over the world.
                    </p>
                    <p class="desc">
                        The client was YMCA and the goal of the campaign was to bring awareness to all the things the YMCA offers. We ended up building a parallax scrolling banners which took the user through various environments including a gym and a campsite (with a fire using a particle engine!)
                    </p>
                    <span class="date">2012</span>
                    <span class="arrow fa fa-play"></span>
                </li>
                <!-- Start icon -->
                <li class="clear"></li>
            </ul>
        </div>
    </div>
</section>

<footer id="contact" class="section-content bg2 bg-callout">
    <div class="container">
        <div class="row">
            <!-- Section title -->
            <div class="section-title text-center">
                <h1 class="white">Get in <span>touch</span></h1>
            </div>
            <!-- End Section title -->
        </div>
        <div class="row ">
            <div class="col-md-6 col-md-offset-3 text-center contact-block">
                <!-- Contact Details -->
                <!-- End Contact Details -->
                <!-- Social Icon -->
                <div class="social-icon">
                    <a href="http://www.github.com/rebelpixeldev" target="_blank"><i class="fa fa-github-alt fa-3x white" aria-hidden="true"></i></a>
                    <a href="http://stackoverflow.com/users/708689/locrizak" target="_blank"><i class="fa fa-stack-overflow fa-3x white" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/ted-sczelecki-930a6127" target="_blank"><i class="fa fa-linkedin-square fa-3x white"></i></a>
                    <a href="mailto:ted@rebelpixel.ca" target="_blank"><i class="fa fa-envelope-o fa-3x white" aria-hidden="true"></i></i></a>
                </div>
                <!-- End Social Icon -->
            </div>
            <div class="col-md-6 col-md-offset-3 container text-center ">
                &copy; Copyright <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.
            </div>
        </div>
        <!--<div class="row ">-->
            <!--<h4 class="text-center">Drop me a Line</h4>-->
            <!--<div class="col-md-6 col-md-offset-3">-->
                <!--<div class="form-respond text-center">-->
                <!--</div>-->
                <!--<form method="post" name="contactform" id="contactform" class="form validate" role="form">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" name="name" id="name" class="form-control required" placeholder="Name">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<input type="email" name="email" id="email" class="form-control required email" placeholder="Email">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<textarea name="message" id="message" class="form-control input-lg required" rows="9" placeholder="Enter Message"></textarea>-->
                    <!--</div>-->
                    <!--<div class="form-group text-center">-->
                        <!--<input type="submit" id="contactForm_submit" class="btn btn-trans btn-border btn-full" value="Submit">-->
                    <!--</div>-->
                    <!--&lt;!&ndash; antispam code &ndash;&gt;-->
                    <!--<div class="antispam"><input type="text" value="" name="url" /></div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
        <!-- End form contact -->
    </div>
</footer>
<a href="#" id="back-top"><i class="fa fa-angle-up fa-2x"></i></a>

    <script type="text/javascript">
        const worksArr = JSON.parse(JSON.stringify({{works | safe | json}}));
    </script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/dist/js/bundle.js"></script>
</body>
</html>