<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="dist/css/app.css">
</head>
<body>

<div class="row site">
    <div class="large-3 medium-3 columns ">
        <div class="container no-padding-top sidebar">
            <img src="/dist/images/profile.jpg" alt=""/>
            <h1 class="columns">Ted Sczelecki <span>Web Developer</span></h1>
        </div>
    </div>
    <div class="large-9 medium-9 columns">
        <div class="large-12 medium-12 columns">
            <nav class="container row text-center large-up-4 no-padding">
                    <a class="columns" href="#about">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        About
                    </a>
                    <a class="columns" href="#resume">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        Resume
                    </a>
                    <a class="columns" href="#portfolio">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        Portfolio
                    </a>
                    <a class="columns" href="#contact">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        Contact
                    </a>
            </nav>
        </div>
        <section class="container">

            <div class="page-outer-container">
                {% include "./pages/resume.html" %}
                {% include "./pages/about.html" %}

            </div>


            <footer class="text-center">
                <p>&copy; <script>document.write(new Date().getFullYear())</script> All rights reserved</p>
            </footer>
        </section>
    </div>
</div>
<canvas id="background"></canvas>

<script src="/lib/socket.io-client/socket.io.js"></script>
<script src="/lib/gsap/src/minified/TweenLite.min.js"></script>
<script src="/lib/gsap/src/minified/plugins/CSSPlugin.min.js"></script>

<script src="/dist/js/Idle.js"></script>
<script src="/dist/js/User.js"></script>
<script src="/dist/js/Background.js"></script>
<script src="/dist/js/Rebel.js"></script>
<script>
    window.onload =  function(){
        new Rebel();
    }
</script>
</body>
</html>
